.partition
{
    margin-left: 10%;
    margin-top: 5%;
}
.Nav
{
    margin-top: 10%;
    background-color: rgb(46, 38, 38);
    text-align: center;
    color: white;
}
.navi_1
{
    margin-left: 80%;
}
.profile_div
{
    text-align: center;
}